.nav-wrapper {
  background-color: rgb(199, 146, 234) !important;
  padding: 0 10px !important; 
  min-height: 48px !important;
}

.brand-logo {
  height: 56px !important; 
  line-height: 56px !important; 
  font-size: 1.5rem; 
  text-decoration: none;
  color: inherit;
}

.brand-name {
  flex-grow: 1;
  text-align: center;
  line-height: 56px !important; 
}

.nav-buttons {
  margin-left: auto;
}

.nav-buttons .MuiButton-root {
  margin-left: 16px;
}

.nav-menu {
  display: none; /* Скрываем меню на мобильных устройствах */
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-link:hover {
  color: #ffffff; /* Цвет текста при наведении */
}

@media (max-width: 900px) {
  .nav-menu {
    display: none;
  }
}

@media (min-width: 901px) {
  .nav-buttons {
    display: flex;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
}
