.nav-wrapper {
  background-color: #c57aed; /* Цвет фона навбара */
  padding: 0 20px; /* Отступы слева и справа */
}

.brand-logo {
  height: 64px; /* Высота логотипа */
  line-height: 64px; /* Выравнивание логотипа по вертикали */
  font-size: 1.5rem; /* Размер текста логотипа */
  text-decoration: none;
  color: inherit;
}

.brand-name {
  flex-grow: 1;
  text-align: center;
}

.nav-buttons {
  margin-left: auto;
}

.nav-buttons .MuiButton-root {
  margin-left: 16px;
}

.nav-menu {
  display: none; /* Скрываем меню на мобильных устройствах */
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-link:hover {
  color: #ffffff; /* Цвет текста при наведении */
}

@media (max-width: 900px) {
  .nav-menu {
    display: none;
  }
}

@media (min-width: 901px) {
  .nav-buttons {
    display: flex;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
}
