.nav-wrapper {
  background-color: rgb(199, 146, 234) !important;
  padding: 0 10px !important;
  min-height: 48px !important;
  overflow: hidden; /* Убираем прокрутку */
}

.brand-logo {
  height: 56px !important;
  line-height: 56px !important;
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.logo-image {
  height: 56px;
  width: auto; /* Автоматическая ширина изображения */
}

.brand-name {
  flex-grow: 1;
  text-align: center;
  line-height: 56px !important;
}

.nav-buttons {
  margin-left: auto;
}

.nav-buttons .MuiButton-root {
  margin-left: 16px;
}

.nav-menu {
  display: none;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.menu-link:hover {
  color: #ffffff;
}

@media (max-width: 500px) {
  .nav-buttons {
    display: none;
  }

  .nav-menu {
    display: flex;
  }

  .brand-logo {
    height: 40px;
  }

  .brand-name {
    display: none; /* Скрываем текст на мобильных устройствах */
  }
}

@media (min-width: 901px) {
  .nav-buttons {
    display: flex;
  }

  .nav-menu {
    display: none;
  }
}

